

<%- include('./partials/head') %>


<nav class="section-nav">
    <ol>
        <li><a href="#Squad A">Squad </a></li>
        <li><a href="#Squad B">Squad B</a></li>
        <li><a href="#Squad C">Squad C</a></li>

    </ol>
</nav>

<section id="squad-a-section">
    <a href="#Squad A"><p>Squad A</p></a>
</section>

<section id="squad-b-section">
    <a href="#Squad B"><p>Squad A</p></a>
</section>

<section id="squad-c-section">
    <a href="#Squad C"><p>Squad A</p></a>
</section>
<%- include('./partials/foot') %>
