<%- include('./partials/head') %>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<body>
<main>
    <div>


        <div class="header">
            <h1>Connect your tribe</h1>
            <p>Squad page</p>
        </div>

    <section id="squad-a">
        <h2>Squad A</h2>

        <div class="flex-wrapper-cards">
            <div>
                <h2>
                    JOELLE
                </h2>

                <p>
                    DIT IS MIJN BIO
                </p>
            </div>
        </div>
    </section>

    <section id="squad-b">
        <h2>Squad B</h2>
    </section>

    <section id="squad-c">
        <h2>Squad C</h2>
    </section>

    </div>

    <nav class="section-nav">

            <a href="#squad-a">Squad A</a>
            <a href="#squad-b">Squad B</a>
            <a href="#squad-c">Squad C</a>
    </nav>

</main>
</body>
<%- include('./partials/foot') %>
