<%- include('./partials/head') %>

<main>
    <div>


        <div class="header">
            <h1>Connect your tribe</h1>
            <p>Squad page</p>
        </div>

    <section id="squad-a">
        <h2>Squad A</h2>
    </section>

    <section id="squad-b">
        <h3>Squad B</h3>
    </section>

    <section id="squad-c">
        <h4>Squad C</h4>
    </section>

    </div>

    <nav class="section-nav">
        <ol>
            <li><a href="#squad-a">Squad A</a></li>
            <li><a href="#squad-b">Squad B</a></li>
            <li><a href="#squad-c">Squad C</a></li>

        </ol>
    </nav>
</main>

<%- include('./partials/foot') %>
